@import "bootstrap";

body {
    font-family: "Avenir","Source Sans Pro","Helvetica Neue",Helvetica,Segoe,"Segoe UI","Segoe WP",Calibri,Arial,clean,sans-serif;
    padding-top: 64px;
}
@media (min-width:768px) {
    body {
        padding-top: 60px;
    }
}

a.navbar-brand {
    max-width: 100%;
}

dl {
    dt {

    }
    dd {
        margin: 0;
    }
    dd + dt {
        margin-top: 1em;
    }
}