        <footer id="ft">
            <div class="container">
                <nav class="social">
                    <ul>
                        <li><a href="https://www.facebook.com/chattizen" title="Chattizen on Facebook" class="fa fa-facebook-square"></a></li>
                        <li><a href="https://twitter.com/intent/follow?screen_name=chattizen" title="Chattizen on Twitter" class="fa fa-twitter"></a></li>
                        <li><a href="http://chattizen.tumblr.com/" title="Chattizen on Tumblr" class="fa fa-tumblr"></a></li>
                        <li><a href="https://github.com/chattizen/" title="Chattizen on Github" class="fa fa-github"></a></li>
                    </ul>
                </nav>
                <nav class="subnav">
                    <ul>
                        <li><a href="/about/" title="About Chattizen">About Us</a></li>
                        <li><a href="mailto:info@chattizen.org" title="Email Us">info@chattizen.org</a></li>
                    </ul>
                </nav>
                <nav class="sponsors">
                    <p class="label">Sponsored by</p>
                    <ul>
                        <li><a href="http://benwood.org/" title="The Benwood Foundation" class="benwood">Benwood</a></li>
                    </ul>
                </nav>
            </div><!-- /.container -->
        </footer>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="{{ site.domain }}/static/js/core.min.js" id="corejs" data-google-api-key="{{ site.google_api_key }}"></script>
        {% if page.script %}
        <script src="{{ site.domain }}/static/js/{{ page.script }}.min.js"></script>
        {% endif %}
        {% for script in page.scripts %}
        <script src="{{ script | replace: 'DOMAIN', site.domain }}"></script>
        {% endfor %}
        <script async src="//platform.twitter.com/widgets.js"></script>
    </body>
</html>