            <header id="hd">
                <div class="container">
                    <a href="/" title="{{ site.name }}" id="brand"><i id="mark"></i>{{ site.name }}</a>
                    <button type="button" id="show-nav"><i class="fa fa-bars"></i> Menu</button>
                    <nav id="primary-nav">
                        <ul>
                            <li><a href="/chattanooga/" title="Chattanooga" class="nav-chattanooga">Chattanooga</a></li>
                            <li><a href="/hamilton-county/" title="Hamilton County" class="nav-hamilton-county">Hamilton County</a></li>
                            <li><a href="/hcde/" title="Department of Education" class="nav-hcde">HCDE</a></li>
                            <li><a href="/judicial/" title="Judicial" class="nav-judicial">Judicial</a></li>
                        </ul>
                    </nav>
                </div><!-- end .container -->
            </header>
