            <header class="navbar navbar-fixed-top" id="hd">
                <div class="container">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse"><i class="icon-reorder"></i></button>

                    <a href="/" title="{{ site.name }}" class="navbar-brand"><i class="icon-home"></i> {{ site.name }}</a>

                    <nav class="nav-collapse collapse navbar-responsive-collapse">
                        <ul class="nav nav-pills">
                        {% for category in site.categories %}
                            {% if category[0] == 'faq' %}
                            <li><a href="/{{ category[0] }}/" title="FAQs">FAQs</a></li>
                            {% else %}
                            <li><a href="/{{ category[0] }}/" title="{{ category[0] | title }}">{{ category[0] | title }}</a></li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </nav><!-- end .nav-responsive-collapse -->
                </div><!-- end .container -->
            </header>