#calendar {
    margin: 0 -1.06383%;
    min-height: 500px;
    background: url('../img/loading.gif') no-repeat 50% 50%;

    .previous,
    .next {
        position: absolute;
        top: 50%;
        margin-top: -0.5em;
        z-index: 11;
        color: $white;
    }

    .previous {
        left: 0.5em;
    }

    .next {
        right: 0.5em;
    }

    .title {
        text-align: center;
        margin: 0;
        padding: 0.5em 2em;
        color: $white;
        background: $blue;
        position: relative;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 10;
    }

    .no-events {
        padding: 0 1em;
        text-align: center;
    }

    .vcal {
        margin: 0;
        padding: 0;
        list-style: none;
        background: $white; // covers the loading gif
    }

    .vevent {
        position: relative;
        z-index: 1;
        padding: 1em 1em 1em 7em;
        border-bottom: 1px solid $gray;
        .date {
            position: absolute;
            background: $red;
            top: 0;
            bottom: 0;
            left: 0;
            width: 6em;
            padding: 1em 0;
            text-align: center;
            color: $white;
            border-bottom: 1px solid $white;
            margin-bottom: -1px;
        }
        .day {
            font-size: em(32);
            font-weight: 700;
            display: block;
        }
        .description,
        .location {
            margin: 0 0 0.5em;
        }
        .notes {
            -ms-word-break: break-all;
            word-break: break-all;
        }
        .location {
            font-style: inherit;
            a {
                color: $gray;
            }
        }
    }    
}