@import "smart-grid-containers";
@import "smart-grid-columns";

body {
    color: $gray;
    font-family: $sansSerif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $serif;
    font-weight: 300;
    color: $red;
}

img[data-src] {
    visibility: hidden;
}

.no-js .requires-js {
    display: none;
}

// #heroshot {
//     width: 100%;
//     max-width: 1200px;
//     background: url('../img/bg.jpg') no-repeat top center;
//     background-size: cover;
//     height: 200px;
//     margin: 0 auto;
//     @include responsive("(min-width: 1024px)") {
//         height: 400px;
//         background-image: url('../img/bg@2x.jpg');
//         background-size: cover;
//     }
//     @include responsive("(min-width: 1200px)") {
//         background-size: cover;
//     }
// }

#main {
    line-height: 1.5;
    background: $white;
    border-top: 1px solid transparent;
    margin-top: -1px;
    padding-bottom: 2em;
    @include clearfix;
    a {
        @include transition(0.25s);
        color: $blue;
        text-decoration: none;
        &:hover,
        &:focus,
        &:active {
            color: saturate($blue, 10%);
        }
    }
    .btn {
        color: $white;
        &:hover,
        &:focus,
        &:active {
            color: $white;
        }
    }
    dl {

    }
    dt {
        margin: 1em auto 0;
    }
    dd {
        margin: 0;
        p:first-child {
            margin-top: 0;
        }
    }
    h2,
    h3 {
        margin: 1em auto 0.25em;
    }
    h1 {

    }
    h1 + p {
        margin-top: -1em;
    }
    h2 + p,
    h3 + p {
        margin-top: 0;
    }
    img {
        max-width: 100%;
    }
    .meta {
        font-size: em(13, 20);
        margin: 2em auto 0;
        color: transparentize($gray, 0.3);
    }
    .row {
        article {
            @include column;
            @include columns(8);
            > :first-child {
                margin-top: 0;
            }
        }
        aside {
            @include column;
            @include columns(4);
            background: transparentize($black, 0.95);
            padding: 20px;
        }
    }
    .map {
        padding: 56.25% 0 0;
    }
    aside {
        font-size: em(16, 20);
        .map {
            margin-top: -20px;
            margin-right: -20px;
            margin-left: -20px;
        }
    }
    .adr {
        figcaption {
            margin-top: 0.5em;
        }
    }
}

#sb {
    .section {
        font-size: em(16, 12.8);
        > :first-child {
            margin-top: 0;
        }
        .label {
            font-weight: bold;
            color: $grayDark;
        }
        ul {
            margin-top: -0.5em;
        }
        li,
        .map {
            margin: 0.5em auto 0;
        }
    }
    .section + .section {
        margin-top: 1em;
        padding-top: 1em;
        border-top: 1px solid $gray;
    }
    #tools {
        li {
            margin-left: 1.5em;
            text-indent: -1.5em;
            position: relative;
            z-index: 1;
        }
        .fa {
            text-indent: 0;
        }
    }
}
