form {
    margin: 1em auto;
    label {
        display: block;
        margin: 0 auto 0.25em;
    }
    ol {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .field,
    .buttons {
        margin: 1em auto 0;
        &:first-child {
            margin-top: 0;
        }
    }
    .buttons {
        text-align: center;
    }
    .placeholder & {
        .with-placeholder {
            label {
                display: none;
            }
        }
    }
}

#{$all-text-inputs},
textarea {
    @extend %input;
}

input[name*="zip"] {
    max-width: 6em;
}

.btn,
button {
    border-radius: 4px;
    border: 0;
    display: inline-block;
    color: $white;
    font-size: inherit;
    font-weight: bold;
    background: $brand;
    padding: 7px 18px;
    text-decoration: none;
    background-clip: padding-box;
    outline: none;
    @include transition(background-color 0.2s);
    &:hover,
    &:focus,
    &:active {
        background-color: lighten($brand, 10%);
    }
}