#hd {
    font-family: $serif;
    padding: 20px 0;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    @include responsive("(min-width: #{$containerMaxWidth})") {
        line-height: 60px;
        text-align: left;
    }
    a {
        text-decoration: none;
    }
}

#brand {
    display: block;
    width: 180px;
    height: 60px;
    color: $brand;
    float: left;
    margin: 0;
    @include hide-text;
    @include retina-image("../img/mark-white", 180px 60px);
}

#show-nav {
    background: $white;
    padding: 0.5em 1em;
    color: $brand;
    margin: 12px 0 0;
    font-weight: 200;
    outline: 0;
    float: right;
    @include transition(0.25s);
    .fa {
        margin-right: 0.5em;
    }
    .no-js & {
        display: none;
    }
    .show-nav & {
        background: $brand;
        background-color: transparentize($brand, 0.1);
        color: $white;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    @include responsive("(min-width: #{$containerMaxWidth})") {
        display: none;
    }
}

#primary-nav {
    overflow: hidden;
    text-align: left;
    clear: right;
    .js & {
        max-height: 0;
        @include transition(max-height 0.25s);
        @include responsive("(min-width: #{$containerMaxWidth})") {
            max-height: 100%;
            @include transition(none);
        }
    }
    .show-nav & {
        max-height: 20em;
    }
    ul {
        margin: 0;
        padding: 1em;
        background: $brand;
        background-color: transparentize($brand, 0.1);
        list-style: none;
        float: right;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        @include responsive("(min-width: #{$containerMaxWidth})") {
            background: transparent;
            padding: 0;
        }
    }
    li {
        margin: 1em 0 0 -1em;
        &:first-child {
            margin-top: 0;
        }
        @include responsive("(min-width: #{$containerMaxWidth})") {
            margin: 0 0 0 2em;
            float: left;
        }
    }
    a {
        color: $white;
        border-color: $white;
        display: block;
        padding: 0.5em 1em;
        @include transition(color 0.25s, border-color 0.25s);
        &:hover,
        &:active,
        &:focus {
            color: mix($brand, $white, 10%);
        }
        @include responsive("(min-width: #{$containerMaxWidth})") {
            padding: 0;
        }
    }
}

.chattanooga #primary-nav .nav-chattanooga,
.hamilton-county #primary-nav .nav-hamilton-county,
.hcde #primary-nav .nav-hcde,
.judicial #primary-nav .nav-judicial {
    text-decoration: underline;
}