@import "smart-grid-containers";
@import "smart-grid-columns";

body {
    color: $gray;
    font-family: $sansSerif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $serif;
    font-weight: 300;
    color: $red;
}

#heroshot {
    max-width: $containerMaxWidth + 40;
    margin: 0 auto;
    img {
        max-width: 100%;
        display: block;
    }
    figcaption {
        display: block;
        text-align: right;
        color: transparentize($gray, 0.5);
        margin: 0.5em 0 0;
        padding: 0 20px;
    }
}

#main {
    line-height: 1.5;
    @include container;
    a {
        @include transition(0.25s);
        color: $green;
        text-decoration: none;
        &:hover,
        &:focus,
        &:active {
            color: saturate($green, 10%);
        }
    }
    dl {

    }
    dt {
        margin: 1em auto 0;
    }
    dd {
        margin: 0;
        p:first-child {
            margin-top: 0;
        }
    }
    h2,
    h3 {
        margin: 1em auto 0.25em;
    }
    h1 {

    }
    h1 + p {
        margin-top: -1em;
    }
    h2 + p,
    h3 + p {
        margin-top: 0;
    }
    img {
        max-width: 100%;
    }
    .meta {
        font-size: em(13, 20);
        margin: 2em auto 0;
        color: transparentize($gray, 0.3);
    }
    .row {
        article {
            @include column;
            @include columns(8);
            > :first-child {
                margin-top: 0;
            }
        }
        aside {
            @include column;
            @include columns(4);
            background: transparentize($black, 0.95);
            padding: 20px;
        }
    }
    .map {
        padding: 56.25% 0 0;
    }
    aside {
        font-size: em(16, 20);
        .map {
            margin-top: -20px;
            margin-right: -20px;
            margin-left: -20px;
        }
    }
    .adr {
        figcaption {
            margin-top: 0.5em;
        }
    }
}