form {
    margin: 1em auto;
    label {
        display: block;
        margin: 0 auto 0.25em;
    }
    ol {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .field,
    .buttons {
        margin: 1em auto 0;
        &:first-child {
            margin-top: 0;
        }
    }
    .buttons {
        text-align: center;
    }
    .placeholder & {
        .with-placeholder {
            label {
                display: none;
            }
        }
    }
}

#{$all-text-inputs},
textarea {
    border-radius: 4px;
    background: mix(#fff, #f5f5f7, 75%); // #f5f5f7
    border: 1px solid #b8b8b8;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.2), 0 1px 1px $white;
    padding:7px;
    width:18em;
    outline:0;
    font-family: $sansSerif;
    .boxsizing & {
        width: 100%;
    }
    @include transition(border-color 0.15s linear, box-shadow 0.15s linear, background-color 0.15s linear);
    &:focus {
        background: $white;
        border-color: rgba(41,161,231,0.8);
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.1), 0 0 5px rgba(41,161,231,0.6);
    }
    &.error {
        border-color: transparentize(#ff0000, 0.2);
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.1), 0 0 5px transparentize(#ff0000, 0.6);
    }
}

input[name*="zip"] {
    max-width: 6em;
}

.btn,
button {
    @include button(simple, $green);
    outline: none;
}