@import "bourbon";
@import "variables";
@import "mixins";
@import "normalize";

$flexbox_support:       true;
$containerMaxWidth:     1200px - 40;
@import "smart-grid-containers";

html {
    overflow-y: scroll;
    background: $blueLight;
}

body {
    background: #012625 url('../img/bg.jpg') no-repeat top center;
    background-size: contain;
    padding-top: 200px;
    @include responsive("(min-width: 1024px)") {
        background-image: url('../img/bg@2x.jpg');
        background-size: contain;
        padding-top: 400px;
    }
    .boxsizing & {
        * {
            box-sizing: border-box;
        }
    }
}

.container {
    @include container;
    @include clearfix;
    padding-left: 20px;
    padding-right: 20px;
    .boxsizing & {
        max-width: 1200px;
    }
}
.row {
    @include flexbox_row;
}

nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

@import "header";
@import "content";
@import "forms";
@import "home";
@import "calendar";
@import "footer";