// colors
$red:               rgb(235,  90,  78);
$green:             rgb( 94, 163, 154);
$white:             rgb(255, 255, 255);
$black:             rgb(  0,   0,   0);
$gray:              rgb( 87,  88,  91);
$facebook:          rgb( 64,  90, 161);
$twitter:           rgb( 22, 176, 235);
$youtube:           rgb(215,  61,  50);

$sansSerif: Roboto, $helvetica;
$serif:     'Roboto Slab', $georgia;
